.button {
    border: none;
    background-color: #CB4A4A;
    border-radius: 10px;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    min-width: 198px;
    padding: 16px 0;
    text-align: center;
    &:hover {
        background-color: #AA3737;
    }
}
