img {
    height: auto;
    max-width: 100%;
}

:root {
    --discount-color: #618C78;
    --button-primary-color: #CB4A4A;
    --button-secondary-color: #618C78;
    --button-primary-hover: #AA3737;
    --button-secondary-hover: #4A695B;
    --backdrop: rgba(40, 40, 40, 0.3);
}

.visually-hidden {
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
    width: 1px;
}

.container {
    max-width: 1277px;
    margin: 0 auto;
    padding: 0 16px;
}
.backdrop {
    display: none;
    background-color: var(--backdrop);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

body {
    background-color: #ffffff;
    color: #1D1D1D;
    display: grid;
    font-family: 'Ubuntu', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    line-height: 24px;
    min-height: 100vh;
    min-width: 320px;
}
